
HW1/Code + data/venv/

HW1/.idea/

HW1/Code + data/.idea/

HW1/Code + data/.idea/Code + data.iml
HW1/Code + data/.idea/misc.xml
HW1/Code + data/.idea/workspace.xml
HW1/Code + data/.idea/workspace.xml
